<form role="form" novalidate name="{{ setting.name }}" class="form-inline" ng-submit="prevSubmit()">
    <simple-form-editor ng-model="model"
                        class="slide-right"
                        ng-class="animation"
                        field="field"
                        key="key"
                        editor-type="setting.editorType"
                        show-error="setting.showError"
                        ng-repeat="(key, field) in setting.fields">
    </simple-form-editor>
    <ng-transclude></ng-transclude>
</form>