<div ng-controller="Test2Controller as testCtl">
    <div class="page-header">
        <h1>
            simpleForm
            <small>
                <i class="ace-icon fa fa-angle-double-right"></i>
                TEST2 simpleForm
            </small>
        </h1>
    </div>

    <div class="row">
        <div class="col-xs-12">
            <div class="position-relative">
                <h1>{{ testCtl.formData }}</h1>

                <simple-form setting="testCtl.formSettings"
                             ng-model="testCtl.formData"
                             submit="testCtl.submit"
                             ng-cloak>
                    <input type="submit" value="提交">
                </simple-form>
            </div>
        </div>
    </div>
</div>
