<div class="page-header">
    <h1>
        TEST-PAGE2
        <small>
            测试表格和分页
        </small>
    </h1>
</div>
<div class="row">
    <div class="col-xs-12">
        <simple-form setting="testCtl.searchFormSettings"
                     ng-model="testCtl.searchFormData"
                     submit="testCtl.doSearch"
                     format="_inline">
            <div class="form-group">
                <button class="btn btn-white" type="submit">
                    <icon class="ace-icon fa fa-search"></icon>
                    <span>搜索</span>
                </button>
            </div>
        </simple-form>
        <div class="space-2"></div>
    </div>
    <div class="col-xs-12">
        {{ testCtl.searchFormData }}
    </div>
    <div class="col-xs-12">
        <div ui-grid="testCtl.gridOptions"
             ui-grid-pagination
             ui-grid-selection
             class="grid">
        </div>
    </div>
    <div class="col-xs-12">
        <div data-toggle="buttons" class="btn-group hidden-xs btn-group-sm pagination">
            <label class="btn btn-white btn-primary"
                   ng-class="{'active':page==testCtl.pagination.pageSize}"
                   ng-repeat="page in testCtl.pagination.perPageOptions">
                <input type="radio" value="{{page}}" ng-model="testCtl.pagination.pageSize">
                {{page}}
            </label>
        </div>
        <pagination total-items="testCtl.pagination.totalCount"
                    items-per-page="testCtl.pagination.pageSize"
                    ng-model="testCtl.pagination.currentPage"
                    max-size="testCtl.pagination.maxSize"
                    ng-change="testCtl.pagination.changeNum()"
                    rotate="false"
                    previous-text="&lsaquo;"
                    next-text="&rsaquo;"
                    first-text="&laquo;"
                    last-text="&raquo;"
                    class="pagination-sm pull-right"
                    boundary-links="true">
        </pagination>
    </div>
</div>
