<div class="panel" ng-controller="listController as list">
    <div class="panel-title">
        ListPage
    </div>
    <div class="panel-body">
        <div class="col-xs-3">
            <ul class="list-group" ng-repeat="item in list.shoppingList">
                <li ng-class="{active :item.selected}"
                    class="list-group-item">
                    <a ng-click="list.selectItem(item)" href="#/list/{{item.name}}">{{ item.name }}</a>
                </li>
            </ul>
        </div>

        <div ui-view class="col-xs-9"></div>
    </div>
</div>
