<!--主内容-->
<div class="main-content-inner">
    <!--<div class="breadcrumbs breadcrumbs-fixed">-->
        <!--<ul class="breadcrumb">-->
            <!--<li>-->
                <!--<i class="ace-icon fa fa-home home-icon"></i>-->
                <!--<a href="#">Home</a>-->
            <!--</li>-->

            <!--<li>-->
                <!--<a href="#">Other Pages</a>-->
            <!--</li>-->
            <!--<li class="active">Blank Page</li>-->
        <!--</ul>-->

        <!--<div class="nav-search">-->
            <!--<form class="form-search">-->
                <!--<span class="input-icon">-->
                    <!--<input type="text" placeholder="Search ..." class="nav-search-input"-->
                           <!--id="nav-search-input" autocomplete="off"/>-->
                    <!--<i class="ace-icon fa fa-search nav-search-icon"></i>-->
                <!--</span>-->
            <!--</form>-->
        <!--</div>-->
    <!--</div>-->

    <!--面包屑导航-->
    <div ui-view="breadcrumbsView" class="breadcrumbs breadcrumbs-fixed"></div>
    <!--页面内容-->
    <div ui-view="pageContentView" class="page-content"></div>

    <!--<div class="page-content">
        <div class="row">
            <div class="col-xs-12">
                <p>11</p>

                <p>11</p>

                <p>11</p>

                <p>11</p>

                <p>11</p>
                v
                <p>11</p>

                <p>11</p>

                <p>11</p>

                <p>11</p>

                <p>11</p>

                <p>11</p>

                <p>11</p>

                <p>11</p>

                <p>11</p>

                <p>11</p>
                v
                <p>11</p>

                <p>11</p>

                <p>11</p>

                <p>11</p>

                <p>11</p>

                <p>11</p>

                <p>11</p>

                <p>11</p>

                <p>11</p>

                <p>11</p>
                v
                <p>11</p>

                <p>11</p>

                <p>11</p>

                <p>11</p>

                <p>11</p>
                &lt;!&ndash; PAGE CONTENT ENDS &ndash;&gt;
            </div>
        </div>
    </div>-->
</div>
