<div id="forgot-box" class="forgot-box widget-box no-border visible">
    <div class="widget-body">
        <div class="widget-main">
            <h4 class="header red lighter bigger">
                <i class="ace-icon fa fa-key"></i>
                找回密码
            </h4>

            <div class="space-6"></div>
            <p>
                请填入邮箱地址来找回密码
            </p>

            <form>
                <fieldset>
                    <label class="block clearfix">
                        <span class="block input-icon input-icon-right">
                            <input type="email" class="form-control"
                                   placeholder="邮箱地址">
                            <i class="ace-icon fa fa-envelope"></i>
                        </span>
                    </label>

                    <div class="clearfix">
                        <button type="button"
                                class="width-35 pull-right btn btn-sm btn-danger">
                            <i class="ace-icon fa fa-lightbulb-o"></i>
                            <span class="bigger-110">发送</span>
                        </button>
                    </div>
                </fieldset>
            </form>
        </div>
        <!-- /.widget-main -->

        <div class="toolbar center">
            <a ui-sref="login" class="back-to-login-link">
                返回登陆页
                <i class="ace-icon fa fa-arrow-right"></i>
            </a>
        </div>
    </div>
    <!-- /.widget-body -->
</div>