<div class="login-box visible widget-box no-border navbar-fixed-top"
     ng-controller="LoginController as loginCtl">
    <div class="widget-body">
        <div class="widget-main">
            <h4 class="header blue lighter bigger">
                <i class="ace-icon fa fa-coffee green"></i>
                请输入登录信息
            </h4>

            <div class="space-6"></div>

            <!--登录-->
            <simple-form setting="loginCtl.formSettings"
                         ng-model="loginCtl.formData"
                         submit="loginCtl.doLogin"
                         format=""
                         ng-cloak>
                <div class="space"></div>
                <div class="form-group">
                    <label class="inline">
                        <input type="checkbox" ng-model="loginCtl.formData.expire_in" class="ace">
                        <span class="lbl">记住我</span>
                    </label>
                    <button type="submit"
                            value="登录"
                            ng-disabled="loginCtl.isBusy"
                            v-busy="loginCtl.isBusy"
                            v-pressable
                            class="width-35 pull-right btn btn-sm btn-primary">
                        <i class="ace-icon fa fa-key"></i>
                        <span class="bigger-110">登录</span>
                    </button>
                </div>
                <div class="space-4"></div>
            </simple-form>

            <div class="social-or-login center">
                <span class="bigger-110">或者用以下方式登录</span>
            </div>

            <div class="space-6"></div>
            <!--第三方登录-->
            <div class="social-login center">
                <a class="btn btn-primary">
                    <i class="ace-icon fa fa-qq"></i>
                </a>

                <a class="btn btn-info">
                    <i class="ace-icon fa fa-weibo"></i>
                </a>

                <a class="btn btn-danger">
                    <i class="ace-icon fa fa-weixin"></i>
                </a>
            </div>
        </div>
        <!-- /.widget-main -->

        <div class="toolbar clearfix">
            <div>
                <a ui-sref="login.forget" data-target="#forgot-box" class="forgot-password-link red">
                    <i class="ace-icon fa fa-arrow-left"></i>
                    忘记密码
                </a>
            </div>

            <div>
                <a ui-sref="login.register" data-target="#signup-box" class="user-signup-link">
                    注册
                    <i class="ace-icon fa fa-arrow-right"></i>
                </a>
            </div>
        </div>
    </div>
    <!-- /.widget-body -->
</div>