<div class="input-group">
    <input class="form-control"
           ng-model="model[key]"
           data-attr="true"
           type="text"
           placeholder="{{ field.placeholder }}"
           name="{{ key }}"
           ng-readonly="field.readonly"
           ng-disabled="field.disabled"
           ng-required="field.required">

    <span class="input-group-btn">

        <span ng-if="$form[key].$valid && (showError || $form[key].$dirty)"
              class="glyphicon glyphicon-ok form-control-feedback"></span>
        <span ng-if="$form[key].$invalid && (showError || $form[key].$dirty)"
              class="glyphicon glyphicon-remove form-control-feedback"></span>

        <button class="btn btn-danger btn-sm" ng-click="datas.open($event)">
            <i class="glyphicon glyphicon-calendar"></i>
        </button>
    </span>
</div>

<div class="toggle none-leave"
     ng-messages="$form[key].$error"
     ng-show="(showError || $form[key].$dirty)"
     ng-messages-multiple>
       <span class="help-block"
             ng-message-exp="key"
             ng-repeat="(key,value) in errMsgs">
            {{ value }}
       </span>
</div>