<input class="form-control"
       ng-model="model[key]"
       type="{{field.type}}"
       placeholder="{{ field.placeholder }}"
       name="{{ key }}"
       ng-readonly="field.readonly"
       ng-disabled="field.disabled"
       ng-required="field.required">

<span ng-if="$form[key].$valid" class="glyphicon glyphicon-ok form-control-feedback"></span>
<span ng-if="$form[key].$invalid" class="glyphicon glyphicon-remove form-control-feedback"></span>

<div class="toggle none-leave" ng-messages="$form[key].$error" ng-messages-multiple>
       <span class="help-block"
             ng-message-exp="key"
             ng-repeat="(key,value) in errMsgs">
            {{ value }}
       </span>

</div>
