<input class="form-control"
       ng-model="model[key]"
       type="{{field.type}}"
       placeholder="{{ field.placeholder }}"
       name="{{ key }}"
       ng-readonly="field.readonly"
       ng-disabled="field.disabled"
       ng-required="field.required">
<span ng-if="$form[key].$valid" class="glyphicon glyphicon-ok form-control-feedback"></span>
<span ng-if="$form[key].$invalid" class="glyphicon glyphicon-remove form-control-feedback"></span>

<div ng-show="$form[key].$invalid" class="toggle">
       <span class="help-block">
              A block of help text that breaks onto a new line and may extend beyond one line.
       </span>
</div>
