<div class="form-group"
     ng-class="{'has-error':$form[key].$invalid && (showError || $form[key].$dirty),'has-feedback':field.showGlyphicon}">

    <label class="control-label col-sm-3 col-lg-3 col-md-3 hidden-xs">
        <span ng-bind="field.label"></span>
        <i ng-if="field.required"
           class="glyphicon blue glyphicon-info-sign"
           title="必填项"></i>
    </label>

    <div class="col-sm-9 col-lg-9 col-md-9">
        <simple-form-field key="key"
                           show-error="showError"
                           $form="$form"
                           field="field"
                           ng-model="model">
        </simple-form-field>
    </div>
</div>