<div class="form-group"
     ng-class="{'has-error':$form[key].$invalid && (showError || $form[key].$dirty),'has-feedback':field.showGlyphicon}">

    <label>
        <span ng-bind="field.label"></span>
        <i ng-if="field.required"
           class="glyphicon blue glyphicon-info-sign"
           title="必填项"></i>
    </label>

    <simple-form-field key="key"
                       show-error="showError"
                       $form="$form"
                       field="field"
                       ng-model="model">
    </simple-form-field>
</div>