<!--侧边栏-->
<!--<div class="sidebar sidebar-fixed responsive sidebar-scroll">-->
<div class="nav-wrap-up pos-rel">
    <div class="nav-wrap" style="overflow: scroll;" ng-style="{'max-height':$root.size.height}">
            <!--快捷键-->
            <!--<div class="sidebar-shortcuts" id="sidebar-shortcuts">-->
                <!--<div class="sidebar-shortcuts-large" id="sidebar-shortcuts-large">-->
                    <!--<button class="btn btn-success">-->
                        <!--<i class="ace-icon fa fa-signal"></i>-->
                    <!--</button>-->
                    <!--<button class="btn btn-info">-->
                        <!--<i class="ace-icon fa fa-pencil"></i>-->
                    <!--</button>-->
                    <!--<button class="btn btn-warning">-->
                        <!--<i class="ace-icon fa fa-users"></i>-->
                    <!--</button>-->
                    <!--<button class="btn btn-danger">-->
                        <!--<i class="ace-icon fa fa-cogs"></i>-->
                    <!--</button>-->
                <!--</div>-->

                <!--<div class="sidebar-shortcuts-mini" id="sidebar-shortcuts-mini">-->
                    <!--<span class="btn btn-success"></span>-->
                    <!--<span class="btn btn-info"></span>-->
                    <!--<span class="btn btn-warning"></span>-->
                    <!--<span class="btn btn-danger"></span>-->
                <!--</div>-->
            <!--</div>-->
            <!--菜单按钮-->
            <navlist children="sidebarCtl.sidebarDatas"></navlist>
    </div>
</div>
<!--侧边栏最小化还原按钮-->
<div class="sidebar-toggle sidebar-collapse hide">
    <i class="ace-icon fa fa-angle-double-left" data-icon1="ace-icon fa fa-angle-double-left"
       data-icon2="ace-icon fa fa-angle-double-right"></i>
</div>
<!--</div>-->