<div class="no-skin mob-safari" ng-controller="HomeController as homeCtl">
    <!--navbar-->
    <div class="navbar navbar-default navbar-fixed-top">
        <div class="navbar-container">
            <!--菜单按钮 只有在小屏幕时出现-->
            <button type="button" class="navbar-toggle pull-left" ng-click="homeCtl.doEmitMenuShow($event)">
                <span class="sr-only">切换</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <!--页面logo-->
            <div class="navbar-header pull-left">
                <a ui-sref="home.index" class="navbar-brand">
                    <small>
                        <i class="fa fa-leaf"></i>
                        后台管理
                    </small>
                </a>
            </div>
            <!--头部右边容器-->
            <div class="navbar-buttons navbar-header pull-right">
                <ul class="nav ace-nav">
                    <li class="light-blue" dropdown>
                        <a class="dropdown-toggle" dropdown-toggle>
                            <img class="nav-user-photo" src="images/avatars/user.jpg" alt="Jason's Photo">
								<span class="user-info">
									<small>欢迎您,</small>
									NICK
								</span>

                            <i class="ace-icon fa fa-caret-down"></i>
                        </a>
                        <ul class="user-menu dropdown-menu-right dropdown-menu dropdown-yellow dropdown-caret dropdown-close">
                            <li>
                                <a href="#">
                                    <i class="ace-icon fa fa-cog"></i>
                                    设置
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <i class="ace-icon fa fa-user"></i>
                                    个人主页
                                </a>
                            </li>
                            <li class="divider"></li>
                            <li>
                                <a href="#">
                                    <i class="ace-icon fa fa-power-off"></i>
                                    退出登录
                                </a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </div>

    <!--main容器-->
    <div class="main-container main-container-fixed-top">

        <!--侧边栏-->
        <div id="sidebar" class="sidebar sidebar-fixed responsive sidebar-scroll" ng-class="{'display':homeCtl.isShowMenu}">
            <div ui-view="sidebarView"></div>
        </div>
        <!--主要内容-->
        <div ui-view="contentView" class="main-content"></div>
        <!--底部-->
        <div ui-view="footerView" class="footer"></div>
        <!--返回头部按钮-->
        <a href="#" class="btn-scroll-up btn btn-sm btn-inverse">
            <i class="ace-icon fa fa-angle-double-up icon-only bigger-110"></i>
        </a>

    </div>
</div>